<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<% if current_user == @aaron || current_user == @ray %>
<%= current_user.email %>
<% else %>
nothing
<% end %>


<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Sign In", new_user_session_path %>
<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>